<div class="button-container">
  <button class="btn btn-primary">
    <a href="/addToDo" style="color: white; text-decoration: none">Add ToDo</a>
  </button>
  <button class="btn btn-primary">
    <a href="/work" style="color: white; text-decoration: none">Switch List</a>
  </button>
</div>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
