<div class="title-container">
  <h1>ToDo List</h1>
  <p>Lorem, ipsum.</p>
</div>

<div class="personal-container">
  <h4><a href="https://afifmv.github.io/html-portfolio/">Afif Varikkodan</a></h2>
</div>
