@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.title-container {
  position: relative;
  left: 35%;
  margin-top: 10%;
  text-align: center;
  background-color: #015871;
  width: fit-content;
  padding: 10px 40px;
  border-radius: 40px;
  box-shadow: 0px 3px 3px black;
}
.title-container h1 {
  font-family: "Pacifico", "cursive";
  color: #f7a9a8;
  font-size: 5rem;
}

.title-container > p {
  color: white;
  font-weight: bold;
}

body {
  background-color: #ef798a;
}

ul {
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 5%;
  box-shadow: 0px 3px 5px black;
}

li {
  padding: 0px;
}

.button-container {
  position: relative;
  left: 40%;
}

.button-container button {
  margin: 1%;
}

.add-to-do-form {
  position: relative;
  left: 31%;
  margin-top: 50px;
}

input:checked + label {
  text-decoration: line-through;
  text-decoration-color: rebeccapurple;
}

.ocean {
  height: 2%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
  z-index: -1;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.personal-container {
  position: fixed;
  top: 5px;
  left: 10px;
}

.personal-container > h4 {
  color: black;
  text-decoration: none;
}

.personal-container > h4 > a {
  color: black;
  text-decoration: none;
  font-family: "Silkscreen", cursive;
}
